---
import BlogPost from '../../components/BlogPost.astro';
import BasicLayout from '../../layouts/BasicLayout.astro';
// import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
// import { getCollection } from 'astro:content';
// import FormattedDate from '../../components/FormattedDate.astro';
const allPost = await Astro.glob('../posts/*.md');
const pageTitle = 'Blogs';
---

<BasicLayout pageTitle={pageTitle}>
	<p>在这里，我将分享我的学习 Astro 的之旅。</p>
	<ul>
		{allPost.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
	</ul>
</BasicLayout>
