---
import GithubIcon from '../assets/icons/github.astro'
import TwitterIcon from '../assets/icons/twitter.astro'

const { platform, username } = Astro.props;
---

<a href={`https://www.${platform}.com/${username}`} target="_blank">
    { platform === 'github' && <GithubIcon /> }
    { platform === 'twitter' && <TwitterIcon /> }
</a>

<style>
    a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0.5rem 1rem;
        color: #333;
        text-decoration: none;
    }
</style>
